In [1]:
import pandas as pd

In [12]:
pd.concat([pd.DataFrame([{'a': 1, 'b': pd.NA}])] * 5, ignore_index=True)

   a    b
0  1  NaN
1  1  NaN
2  1  NaN
3  1  NaN
4  1  NaN