In [9]:
## THIS CELL SHOULD BE IN ALL VSCODE NOTEBOOKS ##

MARKET = 'SNP'

import sys

import pandas as pd
from from_root import from_root
from ib_insync import IB, LimitOrder, util
from loguru import logger

from src.utils import Vars, get_pickle, create_target_opts
util.startLoop()

# Set the root
ROOT = from_root()
_vars = Vars(MARKET)
PORT = port = _vars.PORT
DATAPATH = ROOT / 'data' / MARKET

# set vscode path
sys.path.append(str(ROOT / 'src'))

# To import use 
# from src.<filename> import <function>

# Correct create_target_opts()

In [10]:
# df_naked_targets = get_pickle(DATAPATH / 'df_naked_targets.pkl')
# df = df_naked_targets[next(iter(opt_cols))]

opt_cols = _vars.OPT_COLS[0]
EXP2OPT = _vars.EXP2OPT

In [11]:
df_opt_prices = get_pickle(DATAPATH / 'df_opt_prices.pkl')
df_opt_margins = get_pickle(DATAPATH / 'df_opt_margins.pkl')

In [12]:
df = create_target_opts(market=MARKET)

In [15]:
df[opt_cols][df.margin==0]

,conId,symbol,undPrice,expiry,strike,right,dte,sdev,lot_size,margin,comm,last,optPrice,expPrice
0,674836420,MMM,107.690002,20240209,123.0,C,18.682148,2.582692,1.0,0.0,1.549702,NaN,NaN,1.55
1,672065636,MMM,NaN,20240216,125.0,C,25.682148,2.468812,1.0,0.0,1.549699,NaN,NaN,1.55
2,676178775,MMM,NaN,20240223,130.0,C,32.682148,2.778086,1.0,0.0,1.549662,NaN,NaN,1.55
3,677398653,MMM,107.690002,20240301,130.0,C,39.682148,2.521177,1.0,0.0,1.549725,NaN,NaN,1.55
4,677038941,ABT,114.739990,20240209,127.0,C,18.682090,2.666846,1.0,0.0,1.549706,NaN,NaN,1.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1185,676013609,WMB,NaN,20240223,29.0,P,32.680151,-2.445982,1.0,0.0,1.899675,NaN,NaN,1.90
1186,677155375,WMB,NaN,20240301,29.0,P,39.680150,-2.219773,1.0,0.0,1.899683,NaN,NaN,1.90
1187,675222992,WYNN,NaN,20240209,75.0,P,18.680132,-2.419430,1.0,0.0,1.549733,NaN,NaN,1.55
1188,678803472,ZION,NaN,20240209,31.0,P,18.680021,-2.475282,1.0,0.0,1.899720,NaN,NaN,1.90
1189,672269752,ZION,NaN,20240216,30.0,P,25.680021,-2.332891,1.0,0.0,1.899734,NaN,NaN,1.90